<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="CarCommunicatorEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=beemr.bg;initial catalog=Beemr;persist security info=True;user id=dpopov;password=123456Aa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <membership defaultProvider="UserMembershipProvider">
      <providers>
        <clear />
        <add name="UserMembershipProvider"
             type="CarCommunicator.CredentialsValidator.UserMembershipProvider" connectionStringName="CarCommunicatorEntities" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/Beemr" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="UserRoleProvider" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="UserRoleProvider" connectionStringName="CarCommunicatorEntities" applicationName="/Beemr" type="CarCommunicator.CredentialsValidator.UserRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="Clientbehave">
          <security mode="Transport">
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="CarCommunicator.RestService">
        <!--behaviorConfiguration="myServiceBehavior"-->
        <endpoint address="" behaviorConfiguration="webJson" binding="webHttpBinding"  contract="CarCommunicator.RestService" />
        <!--<endpoint address="basic" binding="basicHttpBinding" contract="Beemr.Web.WCF.IRestService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webJson">
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="WrappedRequest" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CredentialsValidator.CustomUserNameValidator, CarCommunicator"></userNameAuthentication>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles"
                        roleProviderName="UserRoleProvider" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>